.Peruse {
  min-height: 100%;
  bottom: 0;
  flex: 5 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .Peruse__profile-wrapper {
    overflow: scroll;
  }
  .Peruse__options-wrapper {

    display: flex;
    width: 100%;
    flex-direction: row;
    .Peruse__button {
      flex: 1 0 0;
      border: 0;
      padding: 10px;
      height: 50px;
      font-size: 1.7rem;
      text-transform: uppercase;
      transition: 0.1s;
      outline: 0;

      &.yes {
        background-color: #75ec86;
        &:hover {
          background-color: #b1ffc5;
        }
      }
      &.no {
        background-color: #ff7269;
        &:hover {
          background-color: #fd8b83;
        }
      }
      &:active {
        color: white;
      }
    }
  }
}