//reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    background-color: #000;
}
#root {
    flex: 1 0 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    max-width: 475px;
    width: 475px;
    height: 100vh;
    max-height: 750px;
    background-color: white;
}
.Main {
    height: 100%;
}

$animDuration: 0.1s;
.view-enter {
    opacity: 0;
}
.view-enter-active {
    opacity: 1;
    transition: all $animDuration ease-in;
}
.view-leave {
    opacity: 1;
}
.view-leave-active {
    opacity: 0;
    transition: all $animDuration ease-in;
}
.View-wrapper {
    position: relative;
}
.View {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
}